<div class="container text-center">
  <h1>Strawpoller</h1>
  <br>
  <h2>{{topic}}</h2>
  <br>
  {{#each options as |option|}}
    <div class="vote text-light {{if option.selected "bg-success" "bg-dark"}}" {{action "vote" option.id on="click"}}>
      <h5>{{option.name}}:</h5>
      <p>{{option.votes}} votes</p>
    </div>
  {{/each}}
  <div id="pie"></div>
</div>
