<br>
{{#if initialLoad}}
  <h2>{{topic}}</h2>
  <br>
  {{#each options as |option|}}
    <div class="vote text-light {{if option.selected "bg-success" "bg-dark"}} {{if waitingForResponse "disabled"}}" {{action (if option.selected "removeVote" "addVote") option on="click"}}>
      <h5>{{option.name}}</h5>
      <p>{{option.votes}} votes</p>
    </div>
  {{/each}}
  {{#liquid-if allowEditing}}
    <br>
    <h5>{{#link-to "edit" poll_id class="text-dark"}}Edit Poll{{/link-to}}</h5>
  {{/liquid-if}}
{{else}}
  <h2>Loading...</h2>
{{/if}}
