{{title "Edit Poll"}}
<h1>Edit Poll</h1>
<br>
<form>
  {{#if authenticated}}
    <div class="form-group">
      <label class="bold" for="topic">Topic</label>
      {{input id="topic" class="form-control" type="text" value=topic}}
    </div>
    {{#if (or options newOptions)}}
      <br>
      <h2>Options</h2>
      {{#each options as |option index|}}
        <div class="form-group">
          {{input class="form-control" type="text" value=option.name placeholder="Enter an option"}}
          <br>
          {{#if admin}}
            {{input class="form-control" type="number" value=option.votes max=option.max placeholder="Enter the desired number of votes"}}
            <br>
          {{/if}}
          <button class="btn btn-danger" {{action "removeOption" "options" index}}>Delete</button>
        </div>
      {{/each}}
      {{#each newOptions as |option index|}}
        <div class="form-group">
          {{input class="form-control" type="text" value=option.name placeholder="Enter an option"}}
          <br>
          <button class="btn btn-danger" {{action "removeOption" "newOptions" index}}>Delete</button>
        </div>
      {{/each}}
    {{/if}}
    <br>
    <button class="btn btn-primary" {{action "addOption"}}>+ Add Option</button>
    <br><br>
    {{#if admin}}
      <div class="form-check">
        {{input id="vote-per-ip" class="form-check-input" type="checkbox" checked=oneVotePerIp}}
        <label class="form-check-label" for="vote-per-ip" title="If enabled, one vote will be allowed per IP address. Otherwise, one vote per browser per IP address will be allowed.">Limit to one vote per IP address?</label>
        <p class="text-danger">Warning: changing this on a poll that has already been voted on is likely to mess up what existing voters will see. Proceed with caution.</p>
      </div>
      <br>
      <div class="form-check">
        {{input id="lock_changing" class="form-check-input" type="checkbox" checked=lockChanging disabled=multipleVotes}}
        <label class="form-check-label" for="lock_changing">Don't allow changing votes?</label>
      </div>
      <br>
      <div class="form-check">
        {{input id="multiple_votes" class="form-check-input" type="checkbox" checked=multipleVotes disabled=lockChanging}}
        <label class="form-check-label" for="multiple_votes">Allow voting for multiple options?</label>
        <p class="text-danger">Warning: disabling this on a poll that has already been voted on is likely to mess up what existing voters will see. Proceed with caution.</p>
      </div>
      <br>
      <div class="form-check">
        {{input id="public" class="form-check-input" type="checkbox" checked=public}}
        <label class="form-check-label" for="public">Public?</label>
      </div>
      <br>
      <div class="form-check">
        {{input id="allow-editing" class="form-check-input" type="checkbox" checked=allowEditing}}
        <label class="form-check-label" for="allow-editing">Allow editing?</label>
      </div>
      <br>
    {{else}}
      <div class="form-check">
        {{input id="lock_changing" class="form-check-input" type="checkbox" checked=lockChanging disabled=multipleVotes}}
        <label class="form-check-label" for="lock_changing">Don't allow changing votes?</label>
        <p class="text-danger">Warning: disabling this on a poll that has already been voted on is likely to mess up what existing voters will see. Proceed with caution.</p>
      </div>
      <br>
      <div class="form-check">
        {{input id="multiple_votes" class="form-check-input" type="checkbox" checked=multipleVotes disabled=lockChanging}}
        <label class="form-check-label" for="multiple_votes">Allow voting for multiple options?</label>
      </div>
      <br>
      <div class="form-check">
        {{input id="public" class="form-check-input" type="checkbox" checked=public}}
        <label class="form-check-label" for="public">Public?</label>
      </div>
      <br>
    {{/if}}
    {{#liquid-if allowEditing}}
      <div class="form-group">
        {{input class="form-control" type="password" value=editPassword placeholder="Enter an edit password (leave blank to keep unchanged)"}}
      </div>
    {{/liquid-if}}
    <br>
    <div class="form-group">
      {{input id="lock-voting" class="form-check-input" type="checkbox" checked=lockVoting}}
      <label class="form-check-label" for="lock-voting">Lock voting until a specified date?</label>
      {{#liquid-if lockVoting}}
        <br>
        {{#power-calendar selected=unlockAt center=center onSelect=(action (mut unlockAt) value="date") onCenterChange=(action (mut center) value="date") as |calendar|}}
          {{calendar.nav}}
          {{calendar.days minDate=minDate maxDate=maxDate}}
        {{/power-calendar}}
      {{/liquid-if}}
    </div>
    <br>
    {{#spin-button class="btn btn-success btn-block btn-lg" buttonStyle="zoom-out" action=(action "savePoll") disabled=disabled}}Save{{/spin-button}}
    {{#spin-button class="btn btn-warning btn-block btn-lg" buttonStyle="zoom-out" action=(action "changeLocked") disabled=socket.disconnected}}{{if locked "Unlock" "Lock"}} Poll Voting{{/spin-button}}
    {{#spin-button class="btn btn-danger btn-block btn-lg" buttonStyle="zoom-out" action=(action "deletePoll") disabled=socket.disconnected}}Delete Poll{{/spin-button}}
    <br><br>
  {{else}}
    {{input class="form-control" type="password" value=password placeholder="Enter the edit password"}}
    <br>
    <p class="text-danger">{{error}}</p>
    {{#spin-button class="btn btn-primary btn-block btn-lg" buttonStyle="zoom-out" action=(action "submitPassword") disabled=(or (not password) socket.disconnected)}}Submit{{/spin-button}}
    <br>
    <h5>{{#link-to "view" pollId class="text-dark"}}View Poll{{/link-to}}</h5>
    <br>
  {{/if}}
</form>
