{{#if initialLoad}}
  {{title "View Poll"}}
  {{title topic}}
  <h2>{{topic}}</h2>
  <p>{{votingLocked}}</p>
  {{#if options}}
  <br>
    {{#each displayedOptions as |option|}}
      {{#spin-button class=(concat "btn btn-block btn-" (if option.selected "success" "dark")) buttonStyle="zoom-out" disabled=disabled action=(action "vote" option)}}
        <h5>{{option.name}}</h5>
        {{#unless hideVotes}}
          <p>{{option.votes}} {{if (eq option.votes 1) "vote" "votes"}}</p>
        {{/unless}}
      {{/spin-button}}
    {{/each}}
  {{/if}}
  {{#liquid-if allowEditing}}
    <br>
    <h5>{{#link-to "edit" pollId class="text-dark"}}Edit Poll{{/link-to}}</h5>
  {{/liquid-if}}
{{else}}
  <h2>Loading...</h2>
{{/if}}
