<form>
  <div class="form-group">
    {{textarea class="form-control" value=topic placeholder="Enter a topic"}}
  </div>
  <div class="form-check">
    {{input id="public" class="form-check-input" type="checkbox" checked=public}}
    <label class="form-check-label" for="public">Public?</label>
  </div>
  <div class="form-check">
    {{input id="allow-editing" class="form-check-input" type="checkbox" checked=allowEditing}}
    <label class="form-check-label" for="allow-editing">Allow editing?</label>
  </div>
  <br>
  {{#if allowEditing}}
    <div class="form-group">
      {{input class="form-control" type="password" value=editPassword placeholder="Enter an edit password"}}
    </div>
  {{/if}}
  {{#if options}}
    <h2>Options</h2>
    {{#each options as |option index|}}
      <div class="form-group">
        {{input class="form-control" type="text" value=option.name placeholder="Enter an option"}}
        <br>
        <button class="btn btn-danger" {{action "removeOption" index}}>Delete</button>
      </div>
    {{/each}}
  {{/if}}
  <br>
  <button class="btn btn-primary" {{action "addOption"}}>+ Add Option</button>
  <br><br>
  {{#spin-button class="btn btn-success btn-block btn-lg" buttonStyle="zoom-out" action=(action "createPoll") disabled=disabled}}Create{{/spin-button}}
</form>
<br><br>
{{#if publicPolls}}
  <h2>Public Polls</h2>
  {{#each publicPolls as |poll|}}
    {{#link-to "view" poll.id}}{{poll.topic}}{{/link-to}}<br>
  {{/each}}
{{/if}}
