<form>
  {{#if unlocked}}
    <div class="form-group">
      {{textarea class="form-control" value=topic placeholder="Enter a topic"}}
    </div>
    <br>
    <div class="form-group">
      {{input class="form-control" type="password" value=editPassword placeholder="Enter an edit password"}}
    </div>
    {{#if options}}
      <h2>Options</h2>
      {{#each options as |option index|}}
        <div class="form-group">
          {{input class="form-control" type="text" value=option.name placeholder="Enter an option"}}
        </div>
      {{/each}}
    {{/if}}
    <br><br>
    {{#spin-button class="btn btn-success btn-block btn-lg" buttonStyle="zoom-out" action=(action "savePoll") disabled=disabled}}Save{{/spin-button}}
  {{else}}
    {{input class="form-control" type="password" value=editPassword placeholder="Enter the edit password"}}
    <br>
    {{#if error}}
      <p class="text-danger">{{error}}</p>
    {{/if}}
    {{#spin-button class="btn btn-primary btn-block btn-lg" buttonStyle="zoom-out" action=(action "submitPassword") disabled=(or (not editPassword) socket.disconnected)}}Submit{{/spin-button}}
  {{/if}}
</form>
